h1 {
  text-align: center;
}

img {
  margin: 20px auto;
  border-radius: 20px;
  display: block;
}

.contact-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
